* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Preset styles */

.secondary-color {
  color: #757575;
}

.button-style {
  background-color: #0077c5;
  color: white;
  cursor: pointer;
}

.footer-color {
  color: #505050;
}

.link-style {
  color: #0077c5;
  text-decoration: none;
}

body {
  background-color: #eceef1;
  color: #4c4c4c;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Main header */

body > header {
  width: 100vw;
  margin-bottom: 20px;
}

#header-logo {
  min-width: 380px;
  max-width: 380px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#other-brands {
  display: flex;
  font-size: 1.1em;
  margin-top: 10px;
}

#other-brands a {
  display: flex;
  text-decoration: none;
  margin-left: 6px;
}

#other-brands span {
  align-self: center;
  margin-left: 3px;
}



/* Nav elements */

nav {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  font-size: 0.75em;
  padding: 10px 30px;
}

#account-text {
  text-align: right;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav button {
  padding: 0 20px;
  line-height: 32px;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
}

nav button i {
  margin-right: 5px;
}

/* Main section */

section {
  background-color: white;
  min-width: 380px;
  max-width: 380px;
  padding: 30px 30px 0 30px;
  margin: 0 auto 10px auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
}

/* Form header */
section header {
  text-align: center;
}

section header h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

section header p {
  font-size: 0.9em;
  font-weight: 400;
}

section header a {
  font-size: 0.8em;
  font-weight: 400;
}

/* Form */

section form fieldset {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

section form label {
  margin-top: 30px;
}

section form input {
  width: 100%;
  margin: 10px 0 4px 0;
  border: 1px solid #c7c7c7;
  height: 34px;
  padding: 0 6px;
  border-radius: 3px;
  font-size: 1.1em;
}

section form span {
  font-size: 0.7em;
}

section form button {
  padding: 10px 0;
  font-size: 1.1em;
  border-radius: 4px;
  margin-top: 25px;
  width: 100%;
}

#terms-paragraph {
  margin: 20px 0;
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
  padding: 15px;
  line-height: 20px;
}

section footer {
  width: calc(100% + 60px);
  background-color: #eceef1;
  height: 54px;
  margin: 0 -30px;
  border-radius: 0 0 3px 3px;
}

section footer p {
  font-size: 0.7em;
  text-align: center;
  line-height: 54px;
  color: #8d9096;
}

/* Footer elements */

body > footer {
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
  line-height: 16px;
}

.footer-links {
  text-decoration: none;
  color: #4c4c4c;
}

.footer-links:hover {
  text-decoration: underline;
}
